:root{
    --background-color:#04231d;
    --text-color:#000000;
    --p-color:#0d0d0f;
    --label-color:#6a6b6d;
    --border-color:#b3dec9;
    --hover-color:#74a88a;
    --font-family: Arial, Helvetica, sans-serif;
    --border-radius:5px;
    --white-board:#fff;
}
body {
    color:#0b341c 
    font-family: var(--font-family);
    width:100%;
    background-color: var(--background-color);
}
main{
    width:60%;
    margin:1rem auto;
    padding:15px;
    background:var(--white-board);
    border-radius: 5px;
}
h1, p{
    text-align:center;
    margin-bottom:10px;
}